//
// Buttons
//

.btn {
  display: inline-block;
  margin-bottom: 0; // For input.btn
  font-weight: $btn-font-weight;
  text-transform: uppercase;
  text-align: center;
  padding: 5px 20px;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none; // Reset unusual Firefox-on-Android default style; see https://github.com/necolas/normalize.css/issues/214
  border: 2px solid transparent;
  white-space: nowrap;

  &:hover,
  &:focus {
    text-decoration: none;
  }

  &:active {
    outline: 0;
    background-image: none;
  }

  &.disabled,
  &[disabled],
  fieldset[disabled] & {
    cursor: not-allowed;
    opacity: $btn-disabled;
  }
}

a.btn {
  &.disabled,
  fieldset[disabled] & {
    pointer-events: none; // Future-proof disabling of clicks on `<a>` elements
  }
}

.btn-default {
  height: $btn-default-height;
  line-height: $btn-line-height;
  padding: 0 30px;
  border: $btn-default-border;
}

.btn-b1 {
  color: $btn-dark-default-text-color;
  background: none;
  border: 2px solid $btn-dark-default-text-color;

  &:hover {
    color: $btn-light-default-text-color;
    background-color: $btn-light-default-bg-color;
  }
}

.btn-b2 {
  color: $main-nav-btn-color;
  background-color: $btn-light-default-bg-color;
}

.btn-b3 {
  color: $btn-light-default-text-color;
  background-color: $btn-light-default-bg-color;

  &:hover {
    color: $btn-dark-default-text-color;
    background: none;
    }
}