//
// Lists
//

// Unordered and Ordered lists
ul, ol {
    margin: 20px 0;
    li {
        color: inherit;
        padding-bottom: 10px;
        line-height: 1.4;
    }
}

.list-unstyled {
  padding-left: 0;
  list-style: none;
}

.list-inline {
  padding-left: 0;
  list-style: none;

  > li {
    display: inline-block;
    padding: 0 5px;
  }
}

// Description Lists
dl {
  margin: 0 0 1em;
}
dt,
dd {
  line-height: 1em;
}
dt {
  font-weight: bold;
}
dd {
  margin-left: 0;
}