$icomoon-font-path: "fonts" !default;

$icon-arrow-down: "\e900";
$icon-arrow-down-left: "\e901";
$icon-arrow-down-right: "\e902";
$icon-arrow-left: "\e903";
$icon-arrow-right: "\e904";
$icon-arrow-up: "\e905";
$icon-arrow-up-left: "\e906";
$icon-arrow-up-right: "\e907";
$icon-bluetooth: "\e908";
$icon-check: "\e909";
$icon-chevron-down: "\e90a";
$icon-chevron-left: "\e90b";
$icon-chevron-right: "\e90c";
$icon-chevron-up: "\e90d";
$icon-chevrons-down: "\e90e";
$icon-chevrons-left: "\e90f";
$icon-chevrons-right: "\e910";
$icon-chevrons-up: "\e911";
$icon-clock: "\e912";
$icon-download-cloud: "\e913";
$icon-facebook: "\e914";
$icon-github: "\e915";
$icon-linkedin: "\e916";
$icon-lock: "\e917";
$icon-play: "\e918";
$icon-rss: "\e919";
$icon-search: "\e91a";
$icon-settings: "\e91b";
$icon-star: "\e91c";
$icon-twitter: "\e91d";
$icon-unlock: "\e91e";
$icon-upload-cloud: "\e91f";
$icon-user: "\e920";
$icon-users: "\e921";
$icon-wifi: "\e922";
$icon-x: "\e923";
$icon-x-circle: "\e924";
$icon-youtube: "\e925";

