---
title: Portfolio

#social media meta data settings
#-------------------------------
#Note: global social media settings are located in ./src/data/site.yml
includeSocialMetaData: true
page:
 image:
    thumb: /path/to/image.png

body_classes: portfolio has-page-banner

# page banner
hasImage: true
banner_image_src: /assets/images/banners/portfolio.jpg
banner_image_alt: An example portfolio image
---

{% extends "default.njk" %}

{% block banner %}
    {% if hasVideo %}
    <div class="banner has-video">
        <video src="{{ banner_video_src }}" type="video/mp4" {{ banner_video_controls }} poster="{{ banner_video_poster}}"></video>
    {% elseif hasImage %}
    <div class="banner has-image">
        <img src="{{ banner_image_src }}" alt="{{ banner_image_alt }}" />
    {% endif %}
    </div>
{% endblock %}

{% block body %}
<div class="content-wrapper">
    <ul class="portfolio-list list-unstyled">
        {% for key, portfolioItem in portfolio %}
            {% if ((loop.index0 + 3) % 3 === 0) %}
            <li {% if not (loop.index0 === 0) %}class="initial"{% endif %}>
                <div class="full-size has-background-image" style="background-image: url('/assets/images/portfolio/{{ portfolioItem.image_src}}');">
                    <div class="portfolio-item-text">  
                        <p class="header-preamble">{{ portfolioItem.title_preamble }}</p>
                        <h2>{{ portfolioItem.headline }}</h2>
                    </div>
                </div>
            {% endif %}
            {% if ((loop.index0 + 3) % 3 === 1) %}
                <div>
                    <div class="half-size" >
                        <div class="portfolio-item-image has-background-image" style="background-image: url('/assets/images/portfolio/{{ portfolioItem.image_src}}');">
                        </div>
                        <div class="portfolio-item-text">  
                            <p class="header-preamble">{{ portfolioItem.title_preamble }}</p>
                            <h2>{{ portfolioItem.headline }}</h2>
                        </div>
                    </div>
            {% endif %}
            {% if (loop.index0 + 3) % 3 === 2 %}
                    <div class="half-size" >
                        <div class="portfolio-item-image has-background-image" style="background-image: url('/assets/images/portfolio/{{ portfolioItem.image_src}}');">
                        </div>
                        <div class="portfolio-item-text">  
                            <p class="header-preamble">{{ portfolioItem.title_preamble }}</p>
                            <h2>{{ portfolioItem.headline }}</h2>
                        </div>
                    </div>
                </div>
            </li>    
            {% endif %}
        {% endfor %}
    </ul>
</div>
{% endblock %}