<div class="bottom-stripe">
    <ul class="list-unstyled list-inline">
        <li class="social-link"><a href="https://www.linkedin.com/company/{{ site.owner.linkedin }}" target="_blank"><i class="icon icon-linkedin"></i></a></li>
        <li class="social-link"><a href="https://twitter.com/{{ site.owner.twitter }}" target="_blank"><i class="icon icon-twitter"></i></a></li>
        <li class="social-link"><a href="https://www.facebook.com/{{ site.owner.facebook }}" target="_blank"><i class="icon icon-facebook"></i></a></li>
    </ul>
    <ul class="list-unstyled list-inline">
        <li>&copy; 2000 {{ site.owner.name }} </li>
    </ul>
</div>