<div class="header-wrapper">
    <header class="clearfix">
        <div class="container">
            <div class="brand pull-left">
                <a class="main-logo" href="/"><img class="img-responsive" src="/assets/images/logo.png" alt=""></a>
                <a class="hamburger" href="#"><span></span></a>
            </div>
        </div>
    </header>
</div>