<div class="social-share">
  <ul class="list-unstyled list-inline">
    <li>
      <a href="http://www.linkedin.com/shareArticle?url={{ site.url }}{{ page_url }}/&title={{ title }}&summary={{ description }}&source={{ site.url }}"><i class="icon icon-linkedin"></i></a>
    </li>
    <li>
      <a href="https://twitter.com/intent/tweet?text={{ site.url }}{{ page_url }}/" title="Share on Twitter"><i class="icon icon-twitter"></i></a>
    </li>
    <li>
      <a href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{ page_url }}/" title="Share on Facebook"><i class="icon icon-facebook"></i></a>
    </li>
  </ul>
</div>