.page-section.media {
  .media-wrapper {
    container: media / inline-size;

    .media {
      display: flex;
      gap: 5rem;
    }
  }

  .image {
    flex: 0 0 50%;

    img {
      display: block;
    }
  }

  .text {
    flex: 0 0 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;

    .text-title {
      margin: 0;
    }
    .text-subtitle {
      margin: 0;
    }
    .text-prose {
      margin: 0;

      p:first-child {
        margin-top: 0;
      }
      p:last-child {
        margin-bottom: 0;
      }
    }
    .text-cta {
      margin: 2rem 0 0;
    }
  }

  &.is-reversed {
    .media {
      flex-direction: row-reverse;
    }
  }

  &.has-background-image {
    .text {
      @include glass($color__brand_very-dark);
      padding: 2rem;
    }
  }

  @container media (max-width: #{$tablet-width-portrait}) {
    .media-wrapper .media {
      flex-direction: column-reverse;

      .image {
        padding-bottom: 3rem;
      }
    }  
  }
}