.page-section.media {
  .media-wrapper {
    container: media / inline-size;
  }
  .media__image {
    grid-area: image;

    .image-wrapper {
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  .media__image img {
    display: block;
  }
  .media__title {
    grid-area: title;
    margin: 2rem 2rem 0 0;
    align-self: end;
  }
  .media__sub-title {
    grid-area: sub-title;
    margin: 0 2rem 0 0;
    align-self: start;
  }
  .media__prose {
    grid-area: prose;
    margin: 0 2rem 2rem 0;
    align-self: start;

    p:first-child {
      margin-top: 0;
    }
    p:last-child {
      margin-bottom: 0;
    }
  }
  .media__cta {
    grid-area: cta;
    margin: 0 2rem 2rem 0;
    align-self: start;
  }
  .media {
    display: grid;
    grid-template-columns: [first] 1fr [second] 1fr [last];
    grid-template-rows: [row1] auto [row2] 2rem [row3] auto [row4] auto [end];
    grid-template-areas: 
      "title image"
      "sub-title image"
      "prose image"
      "cta image";
    column-gap: 5rem;
    row-gap: 2rem;
  }

  &.is-reversed {
    .media {
      grid-template-areas: 
        "image title"
      "image sub-title"
      "image prose"
      "image cta";
    }
  }

  @container media (max-width: #{$tablet-width-portrait}) {
    .media {
      grid-template-columns: 100%;
      grid-template-rows: auto;
      grid-template-areas: 
        "title"
        "image"
        "sub-title"
        "prose"
        "cta";
    }

    &.is-reversed {
      .media {
        grid-template-areas: 
          "title"
          "image"
          "sub-title"
          "prose"
          "cta";
      }
    }

    .media__title,
    .media__sub-title,
    .media__prose,
    .media__cta {
      margin: 2rem 2rem 2rem 0;
    }
    .media__sub-title {
      margin: 1rem 2rem;
    }
    .media__prose {
      margin-top: 0;
    }
  }
}