$max-content-width: 144rem;
$mid-sized-screen: 120rem;
$tablet-pro-width-landscape: 136rem;
$tablet-pro-width-portrait: 102.4rem;
$tablet-width-landscape: 102.4rem;
$tablet-width-portrait: 76.7rem;
$narrow-content-width: 90rem;
$small-screen-width: 60rem;
$very-small-screen-width: 36rem;

$large-card-width: 40rem;
$default-card-width: 30rem;

$header-height: 9rem;
$header-clearance: 4rem;
$header-height-small-screen: 7rem;
$header-small-clerance: 2rem;
$hamburger-height: 3.6rem;

$hamburger-break: 48rem;

$banner-clearance: 5rem;

$adminbar-height: 3.2rem;

$default-padding: unquote("clamp(2rem, calc(2rem + (4 - 2) * (100vw - 40rem) / (76.8 - 40.0)), 4rem)");